/* Add your custom styles for the Login component */

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align:center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #002561;
  }
  
  .error-message {
    color: #ff0000;
    margin-top: 10px;
  }
  
  /* Responsive styling for small screens */
  @media (max-width: 600px) {
    .login-container {
      width: 100%;
      box-sizing: border-box;
    }
  }
  